<div>
  <h3 style="border-style:solid; margin-left: 10px; text-align: center;font-size: 100px;background-color: blue;">Long Box Online</h3>
  <app-navigation></app-navigation>
    <b><p style="text-align: center; font-size: 25px;font-family: Georgia, 'Times New Roman', Times, serif;">Your new releases and all the comics you've got in one place</p>
  <img src="https://images.ctfassets.net/pwv49hug9jad/2xdrhywqMFtnm882Bvim62/35af6090502086036ad6a7424e0e1626/Comicfest-664-2019.jpeg" alt="POW!">

  </b>
</div>
<app-home></app-home>
<nav>
  <ul>
    <li><a routerLink="/home-component" routerLinkActive="active">home component</a></li>
    <li><a routerLink="/new-releases-component" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
