h3 {color: black;
  font-size: larger;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-style:solid;
  margin-left: 10px;
  text-align: center;
  font-size: 100px;
  background-color: blue;
}

