
  .flex-container {
    display: flex;
    background-color: rgb(93, 241, 8);
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    width: 10cm;
    grid-auto-flow: column;
  }
