
  .flex-container {
    display: flex;
    background-color: rgb(241, 160, 8);
    flex-direction:column;
    align-content:center;

  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
  }
