.flex-container {
  display: flex;
}
ul {
  list-style-type: none;
  margin: 5;
  padding: 10;
  width: 200px;
  background-color: #db0808;
  border-width: 1cm;
  border-radius: 10cm;
  border-spacing: 10cm;
  border-style: solid;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

