<!--<Nav>
  <div class="flex-container">
    <ul>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="catalog">Catalog</a></li>
      <li><a routerLink="new-releases">New releases</a></li>
      <li><a routerLink="about-us">About Us</a></li>
    </ul>
  </div>
</Nav>-->
<Nav>
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <ul><a routerLink="home">Home</a></ul>
    <ul><a routerLink="catalog">Catalog</a></ul>
    <ul><a routerLink="new-releases">New releases</a></ul>
    <ul><a routerLink="about-us">About Us</a></ul>
  </div>
</div>
</Nav>
