.flex-container {
  display: flex;
  flex-grow: 4;
  justify-content: end;
  width:fit-content;
  padding:3%;
  flex-direction: row;
}
.child1 {
  color: blue;
}
.child2 {
  color: darkcyan;
  justify-content: end;
}
